body{
  background-image: url(https://media.fromthegrapevine.com/assets/images/2015/6/Colorful%20coral%20reef.jpg.824x0_q71_crop-scale.jpg);
  background-size: cover;
}

h1{
font-size: 90px;
text-align: center;
}

div{
  width: 300px;
  height: 300px;
  background-color: white;
}

#intro{
  font-size: 48px;
  color: rgb(88, 196, 234);
  background-color: white;

}

